[Unit]
Description=Valibre blockchain node

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/node --chain dev \
	--alice \
	--validator
[Install]
WantedBy=multi-user.target

