[Unit]
Description=Valibre blockchain node

[Service]
Type=simple
Restart=always
Environment="RUST_LOG=warn"
ExecStart=/valiu/vln_node \
	--validator \
	--chain testnet_testnet \
	--name vln-CHAIN_NAME \
	--ws-port 80 \
	--no-telemetry \
	--no-prometheus \
	--no-mdns EXTRA_ARGS
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=app_bc_node

[Install]
WantedBy=multi-user.target

