[Unit]
Description=Kreivo full node container
After=network-online.target

[Service]
Environment=BOOTNODES="/dns/eu1.virto.one/tcp/30333/p2p/12D3KooWJY4iZrxXR8iz4185XTdmiuHAGvGRLXKbJ1qoFZSysTwc"
Environment=NODE_ARGS
Environment=RELAY_ARGS

[Container]
Image=ghcr.io/virto-network/virto:latest
ContainerName=kreivo-full
Volume=kreivo-full-data:/data
Network=host
LogDriver=passthrough
Exec=--name kreivo-%H \
	--rpc-external \
	--rpc-cors=all \
	--rpc-max-connections=1000 \
	--pruning archive-canonical \
	--bootnodes $BOOTNODES \
	--base-path /data $NODE_ARGS \
	-- $RELAY_ARGS \
	--chain kusama \
	--rpc-external \
	--sync=warp \
	--no-telemetry

[Install]
WantedBy=multi-user.target default.target
