[Unit]
Description=Kreivo Collator container
After=network-online.target

[Service]
Environment=BOOTNODES="/dns/eu1.virto.one/tcp/30333/p2p/12D3KooWJY4iZrxXR8iz4185XTdmiuHAGvGRLXKbJ1qoFZSysTwc"
Environment=RELAY_ARGS
Environment=NODE_ARGS

[Container]
Image=ghcr.io/virto-network/virto:latest
ContainerName=kreivo-collator
Volume=kreivo-collator-data:/data
Network=host
LogDriver=passthrough
Exec=--name kreivo-collator-%H \
	--collator \
	--bootnodes $BOOTNODES \
	--base-path /data $NODE_ARGS \
	-- $RELAY_ARGS \
	--chain kusama \
	--sync=warp \
	--no-telemetry

[Install]
WantedBy=multi-user.target default.target
