[package]
name = "runtime-common"
description = "Common logic for all virto runtimes"
version = "0.1.0"
authors = ['Virto Team <contact@virto.team>']
license = "GPL-3.0-only"
homepage = 'https://github.com/virto-network/virto-node'
repository = 'https://github.com/virto-network/virto-node'
edition = "2021"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
substrate-wasm-builder = { workspace = true }

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
hex-literal = { workspace = true, optional = true }
log = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
smallvec = { workspace = true }

# Local
pallet-lockdown-mode = { workspace = true }

# Substrate
frame-benchmarking = { workspace = true, optional = true}
frame-executive = { workspace = true }
frame-support =  { workspace = true }
frame-system =  { workspace = true }
frame-system-benchmarking ={ workspace = true, optional = true}
frame-system-rpc-runtime-api =  { workspace = true }
frame-try-runtime = { workspace = true, optional = true}
pallet-aura =  { workspace = true }
pallet-assets =  { workspace = true }
pallet-asset-tx-payment =  { workspace = true }
pallet-authorship =  { workspace = true }
pallet-balances =  { workspace = true }
pallet-session =  { workspace = true }
pallet-sudo =  { workspace = true }
pallet-timestamp =  { workspace = true }
pallet-transaction-payment =  { workspace = true }
pallet-transaction-payment-rpc-runtime-api =  { workspace = true }
pallet-treasury =  { workspace = true }
sp-api =  { workspace = true }
sp-block-builder =  { workspace = true }
sp-consensus-aura =  { workspace = true }
sp-core =  { workspace = true }
sp-inherents =  { workspace = true }
sp-offchain =  { workspace = true }
sp-runtime =  { workspace = true }
sp-session =  { workspace = true }
sp-std =  { workspace = true }
sp-transaction-pool =  { workspace = true }
sp-version =  { workspace = true }

# Polkadot
kusama-runtime-constants =  { workspace = true }
polkadot-core-primitives =  { workspace = true }
pallet-xcm =  { workspace = true }
polkadot-runtime-common =  { workspace = true }
xcm =  { workspace = true }
xcm-builder =  { workspace = true }
xcm-executor =  { workspace = true }

# Cumulus
cumulus-pallet-aura-ext = { workspace = true }
cumulus-pallet-dmp-queue = { workspace = true }
cumulus-pallet-parachain-system = { workspace = true }
cumulus-pallet-session-benchmarking =  { workspace = true }
cumulus-pallet-xcm = { workspace = true }
cumulus-pallet-xcmp-queue = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-primitives-timestamp = { workspace = true }
cumulus-primitives-utility = { workspace = true }
pallet-collator-selection = { workspace = true }
parachain-info = { workspace = true }
parachains-common =  { workspace = true }

[features]
default = [
	"std",
]
std = [
	"parity-scale-codec/std",
	"log/std",
	"scale-info/std",
	"cumulus-pallet-aura-ext/std",
	"cumulus-pallet-dmp-queue/std",
	"cumulus-pallet-parachain-system/std",
	"cumulus-pallet-xcm/std",
	"cumulus-pallet-xcmp-queue/std",
	"cumulus-primitives-core/std",
	"cumulus-primitives-timestamp/std",
	"cumulus-primitives-utility/std",
	"parachains-common/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"pallet-assets/std",
	"pallet-asset-tx-payment/std",
	"pallet-aura/std",
	"pallet-authorship/std",
	"pallet-balances/std",
	"pallet-collator-selection/std",
	"pallet-session/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"pallet-xcm/std",
	"pallet-lockdown-mode/std",
	"pallet-treasury/std",
	"parachain-info/std",
	"polkadot-runtime-common/std",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"xcm-builder/std",
	"xcm-executor/std",
	"xcm/std",
]

runtime-benchmarks = [
	"hex-literal",
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-collator-selection/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
	"pallet-lockdown-mode/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"cumulus-pallet-session-benchmarking/runtime-benchmarks",
	"cumulus-pallet-xcmp-queue/runtime-benchmarks",
]

try-runtime = [
	"cumulus-pallet-aura-ext/try-runtime",
	"cumulus-pallet-dmp-queue/try-runtime",
	"cumulus-pallet-parachain-system/try-runtime",
	"cumulus-pallet-xcm/try-runtime",
	"cumulus-pallet-xcmp-queue/try-runtime",
	"frame-executive/try-runtime",
	"frame-system/try-runtime",
	"frame-try-runtime/try-runtime",
	"pallet-aura/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-collator-selection/try-runtime",
	"pallet-session/try-runtime",
	"pallet-sudo/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-xcm/try-runtime",
	"parachain-info/try-runtime",
]
